### These are exercises done as part of <a href = "www.dataquest.io"> DataQuest</a>'s Data Engineer Path
This is not replicated for commercial use; strictly personal development.<br>
All exercises are (c) DataQuest, with slight modifications so they use my PostGres server on my localhost

> In the previous mission we learned about different datatypes, the benefit of a reduced table size, and how to guard against corrupted data. We also learned how to create a table from scratch and to use the proper datatypes for the data we would be loading in. Sometimes, though, we have to work with already created tables and somehow rework them with new requirements for our datasets.
>
>DataQuest

#### Managing Tables Mission
<b>1.  </b>Instructions:
- Using the provided `cur` object, execute the `ALTER TABLE` query to rename the `old_ign_reviews` table to `ign_reviews`.
- Commit your changes.
- Execute the `SELECT` query from the example on the table `ign_reviews`.
- Call `print()` on the `cur.description` variable.

In [25]:
import psycopg2
conn = psycopg2.connect("dbname=valenbisi2018 user=nmolivo")
cur = conn.cursor()
cur.execute('ALTER TABLE vbstatic RENAME TO staticvb')
conn.commit()
cur.execute('SELECT * FROM staticvb LIMIT 0')
print(cur.description)
conn.close()

(Column(name='index', type_code=20, display_size=None, internal_size=8, precision=None, scale=None, null_ok=None), Column(name='update', type_code=1114, display_size=None, internal_size=8, precision=None, scale=None, null_ok=None), Column(name='available', type_code=23, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None), Column(name='free', type_code=23, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None), Column(name='total', type_code=23, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None), Column(name='name', type_code=1042, display_size=None, internal_size=55, precision=None, scale=None, null_ok=None), Column(name='long', type_code=700, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None), Column(name='lat', type_code=700, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None))

In [21]:
cur.execute('SELECT column_name, data_type FROM information_schema.columns WHERE table_name = staticvb ORDER BY ordinal_position')

InternalError: current transaction is aborted, commands ignored until end of transaction block