### These are exercises done as part of <a href = "www.dataquest.io"> DataQuest</a>'s Data Engineer Path
This is not replicated for commercial use; strictly personal development.<br>
All exercises are (c) DataQuest, with slight modifications so they use my PostGres server on my localhost

> In the previous mission we learned about different datatypes, the benefit of a reduced table size, and how to guard against corrupted data. We also learned how to create a table from scratch and to use the proper datatypes for the data we would be loading in. Sometimes, though, we have to work with already created tables and somehow rework them with new requirements for our datasets.
>
>DataQuest

#### Managing Tables Mission
<b>1.  </b>Instructions:
- Using the provided `cur` object, execute the `ALTER TABLE` query to rename the `old_ign_reviews` table to `ign_reviews`.
- Commit your changes.
- Execute the `SELECT` query from the example on the table `ign_reviews`.
- Call `print()` on the `cur.description` variable.

<font color = 'blue'>Here I rename my table `vbstatic` to `staticvb`, and vice-versa, just for practice's sake. They are the same table.

In [25]:
import psycopg2
conn = psycopg2.connect("dbname=valenbisi2018 user=nmolivo")
cur = conn.cursor()
cur.execute('ALTER TABLE vbstatic RENAME TO staticvb')
conn.commit()
cur.execute('SELECT * FROM staticvb LIMIT 0')
print(cur.description)
conn.close()

(Column(name='index', type_code=20, display_size=None, internal_size=8, precision=None, scale=None, null_ok=None), Column(name='update', type_code=1114, display_size=None, internal_size=8, precision=None, scale=None, null_ok=None), Column(name='available', type_code=23, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None), Column(name='free', type_code=23, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None), Column(name='total', type_code=23, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None), Column(name='name', type_code=1042, display_size=None, internal_size=55, precision=None, scale=None, null_ok=None), Column(name='long', type_code=700, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None), Column(name='lat', type_code=700, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None))

<font color = 'blue'>I do not wish to <b>delete variables</b> from my table at this time so this will be an example of how it would be done, using DataQuest's db.</font><br><br>
<b>2.  </b>Instructions:
- Use the provided `cur` object.
- Drop the redundant column `full_url` from `ign_reviews`.
- Commit your changes using the `conn` object.

```python
conn = psycopg2.connect("dbname=dq user=dq")
cur = conn.cursor()
cur.execute('ALTER TABLE ign_reviews DROP COLUMN full_url')
conn.commit()
```

<font color = 'blue'>I do not wish to <b>change datatypes</b> in my table at this time so this will be an example of how it would be done, using DataQuest's db.</font><br><br>
<b>3.  </b>Instructions:
- Use the provided `cur` object.
- Change the column type of `id` to `BIGINT` for `ign_reviews`.
- Commit your changes using the `conn` object.

```python
conn = psycopg2.connect("dbname=dq user=dq")
cur = conn.cursor()
cur.execute('ALTER TABLE ign_reviews ALTER COLUMN id TYPE BIGINT')
conn.commit()
```

<font color = 'blue'>I do not wish to <b>rename variables</b> in my table at this time so this will be an example of how it would be done, using DataQuest's db.</font><br><br>
<b>4.  </b>Instructions:
- Use the provided `cur` object.
- Change the column name of `title_of_game_review` to `title` for `ign_reviews`.
- Commit your changes using the `conn` object.

```python
conn = psycopg2.connect("dbname=dq user=dq")
cur = conn.cursor()
cur.execute('ALTER TABLE ign_reviews RENAME COLUMN title_of_game_review TO title')
conn.commit()
```

<font color = 'blue'>I do not wish to <b>create new variables</b> in my table at this time so this will be an example of how it would be done, using DataQuest's db.</font><br><br>
<b>5.  </b>Instructions:
- Use the provided `cur` object.
- Add the the `release_date` column with the proper datatype.
- Commit your changes using the `conn` object.

``` python
conn = psycopg2.connect("dbname=dq user=dq")
cur = conn.cursor()
cur.execute('ALTER TABLE ign_reviews ADD COLUMN release_date DATE')
conn.commit()
```
<font color = 'blue'> This will create variable `release_date` populated with all null values.</font>

> -- Default each entry to Jan 1st, 1991.<Br>
> `ALTER TABLE ign_reviews ADD COLUMN release_date DATE DEFAULT 01-01-1991`
>
> DataQuest

<font color = 'blue'>I do not wish to <b>populate our new variable with information from other variables</b> in my table at this time so this will be an example of how it would be done, using DataQuest's db.</font><br><br>
<b>6.  </b>Instructions:
- Use the provided `cur` object.
- Update the `release_date` column for `ign_reviews` using `UPDATE` and for every entry:
- Insert the combination of the columns `release_day`, `release_month`, `release_year`.
- Use the string merger to create the date-like string with the corresponding date format representation.
- Use the `to_date()` function to create the date objects for the column.
- Commit your changes using the `conn` object.

<font color = 'blue'> || is the SQL version of python's +, used to concatenate.

```python
conn = psycopg2.connect("dbname=dq user=dq")
cur = conn.cursor()
cur.execute("UPDATE ign_reviews SET release_date = to_date(release_day || '-' || release_month || '-' || release_year, 'DD-MM-YYYY')")
conn.commit()
```

<font color = 'blue'>I do not wish to <b>delete variables</b> from my table at this time so this will be an example of how it would be done, using DataQuest's db.</font><br><br>
<b>7.  </b>Instructions:

- Use the provided `cur` object.
- Using `ALTER TABLE` with `DROP COLUMN` to drop the `release_day`, `release_month`, and `release_year` redundant columns.
- Commit your changes using the `conn` object.

<font color = 'blue'>You can only drop one column per statement, so this will take a few lines.</font>

```python
conn = psycopg2.connect("dbname=dq user=dq")
cur = conn.cursor()
cur.execute('ALTER TABLE ign_reviews DROP COLUMN release_day')
cur.execute('ALTER TABLE ign_reviews DROP COLUMN release_month')
cur.execute('ALTER TABLE ign_reviews DROP COLUMN release_year')
conn.commit()
```